@model List<WorkOrderCore.Infrastructure.Persistence.DataContext.JobCardsTranasctions>

@{
    ViewData["Title"] = "Index";
}

<h2>My Activities</h2>


<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                Star tDate
            </th>
            <th>
                End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.JobCardsTranasctionsStartDate.ToString("dddd, dd MMMM yyyy")
            </td>
            <td>
                @item.JobCardsTranasctionsEndDate.ToString("dddd, dd MMMM yyyy")
            </td>
            <td>
                <a asp-action="ChangeStatus" class="btn btn-success"><i class="fa fa-wrench"></i></a>
                <a class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> </a>
                <a class="btn btn-warning"><i class="fa fa-low-vision"></i></a>
                @*<a class="btn btn-warning" asp-action="ChangeStatus">
                    Status
                </a>
                <a class="btn btn-success">
                    View Attachment
                </a>
                <a class="btn btn-warning">
                    Add Attachment
                </a>*@
            </td>
        </tr>
}
    </tbody>
</table>
