@model List<WorkOrderCore.Infrastructure.Persistence.DataContext.JobCardsTranasctions>

@{
    ViewData["Title"] = "Index";
}
<style>
    .fontSize {
        font-weight: bold;
        font-size: 20px;
    }
    .marginWithFontSize {
        margin-bottom: 13px;
        font-size: 16px;
    }
    .rightBorderSolid {
        border-right: 1px solid darkgrey;
    }
    .dataStyle {
        border: 1px solid #eaeaea;
        padding: 26px;
    }
    .padding-14 {
        padding-bottom: 14px;
    }
    .btnShowAttachments {
        background-color: #c39292
    }
    .btnAddAttachments {
        background-color: #ffaaf2
    }
    .btnSettingsAttachments {
        background-color: #b5b5b5
    }
</style>
<h2>My Activities</h2>
<hr />
<div class="row padding-14">
    <div class="col-md-6 col-sm-6 col-xs-6 fontSize rightBorderSolid text-center">
        Start Date
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 fontSize text-center">
        End Date
    </div>
</div>
@foreach (var item in Model)
{
<div class="dataStyle">
    <div class="row marginWithFontSize">
        <div class="col-md-6 col-xs-6 text-center rightBorderSolid">
            @item.JobCardsTranasctionsStartDate.ToString("dddd, dd MMMM yyyy")

        </div>
        <div class="col-md-6 col-xs-6 text-center">
            @item.JobCardsTranasctionsEndDate.ToString("dddd, dd MMMM yyyy")

        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 list-group">
            <a asp-action="ChangeStatus" asp-route-Id="@item.Id" class="btn btn-sm list-group-item list-group-item-action btnSettingsAttachments"><i class="fa fa-wrench"></i></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 list-group">
            <a class="btn btn-sm list-group-item list-group-item-action btnAddAttachments"><i class="fa fa-upload" aria-hidden="true"></i> </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 list-group">
            <a class="btn btn-sm list-group-item list-group-item-action btnShowAttachments"><i class="fa fa-low-vision"></i></a>
        </div>
    </div>
</div>

}
